.containerBrand {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  gap: 30px;
}

.imgBrand {
  background-color: black;
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBrand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-color: black;
  border: 2px solid black;
}

.imgBrand span {
  position: absolute;
  width: 104%;
  aspect-ratio: 1;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 180% 120%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 9s ease-in-out infinite;
  border-radius: 45%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Definimos la animación */
@keyframes moveGradient {
  0% {
    transform: rotate(0deg);
    background-position: 0% 50%;
    
  }
  50% {
    transform: rotate(360deg);
    background-position: 100% 50%;
    
  }
  100% {
    transform: rotate(0deg);
    background-position: 0% 50%;
    
  }
}


.infoBrand{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.infoBrand p{
  font-size: 1rem;
  color: grey;
  letter-spacing: 1px;
}

.infoBrand h3{
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: white;
}

.linkWebsite{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: black;
  color: blue;
}

.linkWebsite .icon{
  font-size: 1.4rem;
}

.channelBtns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.perfilGo{
  height: 45px;
  background-color: #141414;
  padding: 0px 20px;
  border-radius: 50px;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  gap: 10px;
}

.perfilGo .icon{
  font-size: 1rem;
}

.flexChannels{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.channel{
  background-color: #141414;
  height: 45px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.channel .icon{
  font-size: 1.2rem;
  color: white;
}