.viewall {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100svh;
  gap: 5px;
}

.rieles {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  overflow: auto;
}

.rieles::-webkit-scrollbar {
  display: none; /* WebKit Browsers */
}


.boxad {
  width: 100%;
  min-height: 350px;
  background-color: rgb(12, 12, 12);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.boxad.animate {
  animation: slideIn 0.5s ease-out;
}


@keyframes slideIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.imgAd{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.boxImage{
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  bottom: 7px;
  left: 7px;
}

.boxImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Animación de tragamonedas */
@keyframes spinEffect {
  0% {
    transform: translateY(-100%); /* Posición inicial */
    opacity: 0.0;
  }
  25% {
    transform: translateY(-75%); /* Desplaza hacia arriba fuera del carril */
    opacity: 1.0;
  }
  50% {
    transform: translateY(-50%); /* Sigue desplazándose */
    opacity: 1.0;
  }
  75% {
    transform: translateY(-25%); /* Más movimiento hacia arriba */
    opacity: 1.0;
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
    opacity: 1.0;
  }
}


/* Animación de tragamonedas */
@keyframes spinEffectTwo {
    0% {
      transform: translateY(100%); /* Posición inicial */
      opacity: 0.0;
    }
    25% {
      transform: translateY(75%); /* Desplaza hacia arriba fuera del carril */
      opacity: 1.0;
    }
    50% {
      transform: translateY(50%); /* Sigue desplazándose */
      opacity: 1.0;
    }
    75% {
      transform: translateY(25%); /* Más movimiento hacia arriba */
      opacity: 1.0;
    }
    100% {
      transform: translateY(0); /* Vuelve a la posición inicial */
      opacity: 1.0;
    }
  }