.viewall {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100svh;
  gap: 5px;
}

.rieles {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
}

.rieles::-webkit-scrollbar {
  display: none; /* WebKit Browsers */
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.rieles.animate {
  animation: slideIn 0.5s ease-out forwards;
}


.boxad {
  width: 100%;
  min-height: 350px;
  background-color: rgb(12, 12, 12);
  border-radius: 20px;
  animation: spinEffect 2s linear; /* Aplicar animación */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imgAd{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.boxImage{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  bottom: 10px;
  left: 10px;
}

.boxImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Animación de tragamonedas */
@keyframes spinEffect {
  0% {
    transform: translateY(-100%); /* Posición inicial */
    opacity: 0.0;
  }
  25% {
    transform: translateY(-75%); /* Desplaza hacia arriba fuera del carril */
    opacity: 1.0;
  }
  50% {
    transform: translateY(-50%); /* Sigue desplazándose */
    opacity: 1.0;
  }
  75% {
    transform: translateY(-25%); /* Más movimiento hacia arriba */
    opacity: 1.0;
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
    opacity: 1.0;
  }
}

.rieles:first-child .boxad{
    animation: spinEffectTwo 2s linear; /* Aplicar animación */
}

/* Animación de tragamonedas */
@keyframes spinEffectTwo {
    0% {
      transform: translateY(100%); /* Posición inicial */
      opacity: 0.0;
    }
    25% {
      transform: translateY(75%); /* Desplaza hacia arriba fuera del carril */
      opacity: 1.0;
    }
    50% {
      transform: translateY(50%); /* Sigue desplazándose */
      opacity: 1.0;
    }
    75% {
      transform: translateY(25%); /* Más movimiento hacia arriba */
      opacity: 1.0;
    }
    100% {
      transform: translateY(0); /* Vuelve a la posición inicial */
      opacity: 1.0;
    }
  }