.menuSection {
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.menuSection div {
  width: 75px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.menuSection div:hover {
  background-color: rgba(0, 0, 0, 0.23);
}

.menuSection div:hover .icon {
  opacity: 1;
}

.menuSection div .icon {
  font-size: 1.5rem;
  opacity: 0.7;
}

.active {
  background-color: #0070f3;
}

.active .icon {
  opacity: 1;
}

.menuSection span{
    display: none;
}

@media (max-width: 900px) {
  .menuSection {
    position: fixed;
    bottom: 25px;
    z-index: 10000;
  }

  .menuSection span{
    z-index: -1;
    display: block;
    position: absolute;
    bottom: -25px;
    width: 100vw;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0),black);
  }
}
