.containerFormEditPerfil {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerFormEditPerfil form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.containerFormEditPerfil form label {
  width: 85%;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.containerFormEditPerfil form input {
  width: 100%;
  height: 50px;
  border: 1px solid #212121;
  outline: none;
  background-color: #0d0d0d;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 50px;
  padding: 0px 15px;
}

.containerFormEditPerfil form input::placeholder {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.5px;
}

.containerFormEditPerfil form input:hover,
.containerFormEditPerfil form input:focus,
.containerFormEditPerfil form input:active {
  border: 1px solid #006fff;
}

.containerFormEditPerfil form input:-webkit-autofill,
.containerFormEditPerfil form input:-webkit-autofill:hover,
.containerFormEditPerfil form input:-webkit-autofill:focus,
.containerFormEditPerfil form input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important; /* Cambia el color del texto */
  -webkit-box-shadow: 0 0 0px 1000px #0048ff00 inset !important; /* Fondo blanco para el campo */
  box-shadow: 0 0 0px 1000px #0048ff00 inset !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.containerFormEditPerfil form button {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.8rem;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 180% 120%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 17s linear infinite;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.containerFormEditPerfil form button .icon {
  font-size: 1.3rem;
}

/* Definimos la animación */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
