.containerHeaderDetalle {
  width: 100%;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  position: relative;
}



.btnBack{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: black;
    height: 35px;
    padding: 0px 13px 0px 3px;
    border-radius: 50px;
    text-decoration: none;
}

.btnBack p{
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: white;
}