.containerDashboard {
  color: white;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttonPannel {
  width: 90%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.buttonPannel .sec:first-child{
  border-radius: 25px 0px 0px 25px;
}

.buttonPannel .sec:last-child{
  border-radius: 0px 25px 25px 0px;
}

.sec {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-top: 2px solid #0049ff;
  border-bottom: 2px solid #0049ff;
  background-color: #0048ff29;
  backdrop-filter: blur(5px);
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.sec .icon{
  font-size: 1.4rem;
}

.active {
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 150% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
  font-weight: 600;
  cursor: default;
}

.inactive {
  border-top: 2px solid #0048ff29;
  border-bottom: 2px solid #0048ff29;
  color: rgba(255, 255, 255, 0.739);
}

.inactive:hover {
  border-top: 2px solid #0049ff;
  border-bottom: 2px solid #0049ff;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
