.boxRegistroDirecto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 30px;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.circleIcon {
  border: 2px solid white;
  background-color: black;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}

.circleIcon .icon {
  font-size: 3rem;
  color: white;
}

.circleIcon span {
  position: absolute;
  background-color: white;
  top: -3px;
  right: -3px;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleIcon span .icon {
  font-size: 1rem;
  color: black;
}

.titleSection h4 {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.titleSection p {
  width: 90%;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1px;
  color: grey;
  font-size: 0.9rem;
}

.linkSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.linkSection p:nth-child(1){
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.linkContactBrand {
  height: 60px;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  color: white;
  border: 2px solid rgb(168, 0, 0);
  background-color: rgb(112, 0, 0);
}

.linkContactBrand p {
  letter-spacing: 1px;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
}

.linkContactBrand .icon {
  font-size: 1.7rem;
}

.containerAccesos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.accesBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  background-color: #0d0d0d;
  border-radius: 50px;
}

.btnAction {
  padding: 15px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 300;
}

.active {
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 180% 120%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
  color: white;
  font-weight: 600;
}

.inactive {
  background-color: transparent;
  color: #777777;
}

.inactive:hover {
  color: white;
}

/* Definimos la animación */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 900px) {
  .boxRegistroDirecto {
    margin-top: 50px;
  }

  .titleSection h4 {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }

  .titleSection p {
    width: 55%;
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .linkSection {
    width: 70%;
    flex-direction: column;
  }

  .linkContactBrand {
    height: 65px;
    border-radius: 50px;
    width: 100%;
    flex-direction: row;
    gap: 20px;
  }

  .linkContactBrand p {
    width: auto;
    letter-spacing: 1px;
  }

  .linkContactBrand .icon {
    font-size: 1.7rem;
  }
}
