.allInfoCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: sticky;
}

.partOne {
  width: 100%;
  height: 65vh;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partOne::after{
  content: "";
  position: absolute;
  background: linear-gradient(#00000000,#000000a8,#000000);
  width: 100%;
  height: 35%;
  bottom: 0px;
  border-radius: 0px 0px 30px 30px;
}

.partOne .imgPromo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.marcaViews {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 150% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
  padding: 0px 20px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.titleSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.titleSection .icon {
  font-size: 1rem;
}

.allResult {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.allResult .icon {
  font-size: 1rem;
}

.marcaDatos {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  gap: 5px;
}

.perfilBrand{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.398);
  padding-right: 10px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
}

.perfilBrand h3 {
  max-width: 120px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.imgBox {
  width: 35px;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imgBox img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.linkFlex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.linkFlex a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.398);
  border-radius: 50%;
  height: 40px;
  aspect-ratio: 1;
}

.linkFlex a .icon{
  font-size: 1.2rem;
}

.partTwo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.partTwo h2 {
  width: 100%;
  display: -webkit-box;
  display: flex; /* Propiedad estándar */
  -webkit-box-orient: vertical;
  box-orient: vertical; /* Propiedad estándar */
  -webkit-line-clamp: 3;
  line-clamp: 3; /* Propiedad estándar */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.1; /* Ajusta según tu diseño */
  max-height: calc(1.5em * 3); /* Ajusta si cambias la line-height */
  word-break: break-word;
  font-size: 6.6vw;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.partTwo .descriptionText{
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  line-height: 1;
  color: rgb(156, 156, 156);
  width: 100%;
}

.boxDatosRelevantes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 25px;
}

.datoImportant {
  height: 75px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.datoImportant h3 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1;
  color: rgb(156, 156, 156);
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}


.titleBox p {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  color: rgb(156, 156, 156);
}

.titleBox .icon {
  font-size: 1.5rem;
  color: rgb(156, 156, 156);
  margin-top: -2px;
}

.partTre {
  width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  margin-top: 10px;
  background-color: #0d0d0d;
  border-radius: 15px;
}

.partTre span {
  border: 1px solid black;
  height: 55%;
}

.itemInfo {
  min-width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 25px;
}

.itemInfo .icon {
  font-size: 2.0rem;
  color: white;
}

.infoGeneralDato {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
}

.flexDatoTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.flexDatoTitle p {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1;
  color:white;
}

.flexDatoTitle .icon {
  font-size: 0.7rem;
  line-height: 1;
}

.datoInfo {
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.partFour {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offTc {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  border-radius: 100px;
  background-color: #0d0d0d;
}

.offTc p {
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.offTc .icon {
  font-size: 1.3rem;
}
