.containerForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 60px;
}

.generalInfoAd {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.titleAreaForm{
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.titleAreaForm::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 150% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
}

.titleAreaForm h3 {
  width: 90%;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
}

.titleAreaForm .icon{
  font-size: 1.4rem;
}

.boxFormGeneral{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.boxFormGeneral label {
  background-color: #0d0d0d;
  border: 1px solid #212121;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
}

.boxFormGeneral label input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 50px;
  outline: none;
  border: 1px solid transparent;
  padding-left: 20px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.boxFormGeneral label input::placeholder {
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.boxFormGeneral label input:hover,
.boxFormGeneral label input:focus,
.boxFormGeneral label input:active {
  border: 1px solid #006fff;
}

.boxFormGeneral label input:-webkit-autofill,
.boxFormGeneral label input:-webkit-autofill:hover,
.boxFormGeneral label input:-webkit-autofill:focus,
.boxFormGeneral label input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important; /* Cambia el color del texto */
  -webkit-box-shadow: 0 0 0px 1000px #0048ff00 inset !important; /* Fondo blanco para el campo */
  box-shadow: 0 0 0px 1000px #0048ff00 inset !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.boxFormGeneral label .icon {
  position: absolute;
  right: 20px;
  font-size: 1.4rem;
  color: grey;
}

.tiempoExposicion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}



.itemTiempo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.titleBoxTiempo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.titleBoxTiempo .icon{
  font-size: 1.2rem;
}

.titleBoxTiempo p {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 25px;
}

.boxInputsDates {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.boxInputsDates label{
  width: 50%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.boxInputsDates label input {
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  border: 1px solid #212121;
  color: white;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 0.5px;
  font-size: 16px;
  outline: none;
}

.boxInputsDates label input::-webkit-calendar-picker-indicator{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.alertMessage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
  border: 1px solid rgb(147, 147, 0);
  background-color: rgb(29, 29, 0);
  width: 100%;
  height: 50px;
  border-radius: 0px 50px 50px 50px;
}

.alertMessage p {
  font-size: 0.9rem;
  color: yellow;
  letter-spacing: 0.5px;
}

.alertMessage .icon {
  font-size: 1.2rem;
  color: yellow;
}

.imagesFormatAds {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 1px solid red;
}


.containerImageAd {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  border: 1px solid red;
}

.flexAddImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border: 1px solid red;
}

.detallesFormat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.titleSectionImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.iconInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fileImageAd {
  background-color: #0d0d0d;
  border: 1px solid #212121;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  gap: 15px;
  position: relative;
  cursor: pointer;
}

.fileImageAd:hover{
  border: 1px solid #006fff;
}

.fileImageAd .icon {
  font-size: 2rem;
  color: #212121;
}

.fileImageAd p {
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #212121;
}

.previewContainer{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.stockRegister {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}


.stockInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 20px;
  width: 80%;
}

.stockInput label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 120px;
}

.stockInput label input {
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  background-color: #0d0d0d;
  border: 1px solid #212121;
  outline: none;
  border-radius: 20px;
  color: white;
  font-size: 2.5rem;
}

.stockInput label input:hover{
  border: 1px solid #006fff;
}

.stockInput label input::placeholder {
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.stockIlimitado {
  background-color: #0d0d0d;
  border: 1px solid #212121;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.stockIlimitado:hover{
  border: 1px solid #006fff;
}

.stockIlimitado .icon {
  font-size: 1.2rem;
}

.btnAddBeneficio {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 150% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
