.containerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding-top: 45px;
  border-radius: 20px;
  background-color: #0d0d0d;
  position: relative;
}

.containerForm::before {
  content: "";
  width: 100%;
  height: 50px;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 150% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
  position: absolute;
  z-index: -1;
  top: -3px;
  border-radius: 20px 20px 0px 0px;
}

.flexBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainerGeneral {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flextitleGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.titleContainer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 2px;
  width: 70%;
  line-height: 1.3;
}

.subtitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.subtitleContainer p {
  font-size: 1rem;
  color: grey;
  letter-spacing: 1px;
}

.subtitleContainer .icon {
  font-size: 1rem;
  color: grey;
}

.titleFunction {
  width: 85%;
  height: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 150% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
}

.titleFunction h3 {
  font-size: 1rem;
  width: 65%;
  letter-spacing: 0.5px;
}

.totalCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.totalCards p {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.totalCards .icon {
  font-size: 0.9rem;
}

.generalInfoAd {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.titleAreaForm {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.titleAreaForm::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 150% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
}

.titleAreaForm h3 {
  width: 90%;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.titleAreaForm .icon {
  font-size: 1.3rem;
}

.boxFormGeneral {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.boxFormGeneral label {
  background-color: #0d0d0d;
  border: 1px solid #212121;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
}

.boxFormGeneral label input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 50px;
  outline: none;
  border: 1px solid transparent;
  padding-left: 20px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.boxFormGeneral label input::placeholder {
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.boxFormGeneral label input:hover,
.boxFormGeneral label input:focus,
.boxFormGeneral label input:active {
  border: 1px solid #006fff;
}

.boxFormGeneral label input:-webkit-autofill,
.boxFormGeneral label input:-webkit-autofill:hover,
.boxFormGeneral label input:-webkit-autofill:focus,
.boxFormGeneral label input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important; /* Cambia el color del texto */
  -webkit-box-shadow: 0 0 0px 1000px #0048ff00 inset !important; /* Fondo blanco para el campo */
  box-shadow: 0 0 0px 1000px #0048ff00 inset !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.boxFormGeneral label .icon {
  position: absolute;
  right: 20px;
  font-size: 1.4rem;
  color: grey;
}

.boxFormGeneral .error {
  font-size: 0.9rem;
  color: yellow;
  font-weight: 200;
  width: 85%;
  text-align: left;
  letter-spacing: 0.5px;
}

.boxFormGeneral .descriptionBox {
  height: 180px;
  border-radius: 20px;
}

.boxFormGeneral .descriptionBox .icon {
  top: 15px;
  right: 15px;
}

.boxFormGeneral .descriptionBox textarea {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid transparent;
  background-color: transparent;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5px;
  outline: none;
  font-family: "Helvetica", sans-serif;
  resize: none;
}

.boxFormGeneral .descriptionBox textarea::placeholder {
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.boxFormGeneral .descriptionBox textarea:hover,
.boxFormGeneral .descriptionBox textarea:focus,
.boxFormGeneral .descriptionBox textarea:active {
  border: 1px solid #006fff;
}

.tiempoExposicion {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.itemTiempo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.titleBoxTiempo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.titleBoxTiempo .icon {
  font-size: 1.2rem;
}

.titleBoxTiempo p {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 25px;
}

.boxInputsDates {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.boxInputsDates label {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 15px;
}

.boxInputsDates label .error {
  font-size: 0.9rem;
  color: yellow;
  font-weight: 200;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
}

.boxInputsDates label input {
  width: 100%;
  height: 65px;
  background-color: #0d0d0d;
  border: 1px solid #212121;
  color: white;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 0.5px;
  font-size: 16px;
  outline: none;
}

.boxInputsDates label input::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.boxInputsDates label input:hover,
.boxInputsDates label input:focus,
.boxInputsDates label input:active {
  border: 1px solid #006fff;
}

.alertMessage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
  border: 1px solid rgb(147, 147, 0);
  background-color: rgb(29, 29, 0);
  width: 100%;
  height: 50px;
  border-radius: 0px 50px 50px 50px;
}

.alertMessage p {
  font-size: 0.9rem;
  color: yellow;
  letter-spacing: 0.5px;
}

.alertMessage .icon {
  font-size: 1.2rem;
  color: yellow;
}

.imagesFormatAds {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.containerImageAd {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

.flexAddImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}

.detallesFormat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.titleSectionImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.titleSectionImage h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 700;
}

.titleSectionImage p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 200;
}

.iconInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.extraFormats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.extraFormats h4 {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: grey;
  font-weight: 200;
}

.extraFormats p {
  color: grey;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 200;
}

.fileImageAd {
  background-color: #0d0d0d;
  border: 1px solid #212121;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  gap: 15px;
  position: relative;
  cursor: pointer;
}

.fileImageAd:hover {
  border: 1px solid #006fff;
}

.fileImageAd .icon {
  font-size: 2rem;
  color: #212121;
}

.fileImageAd p {
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #212121;
}

.previewContainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  position: absolute;
}

.stockRegister {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.stockInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 20px;
  width: 100%;
}

.stockInput .error {
  font-size: 0.9rem;
  color: yellow;
  font-weight: 200;
  width: 85%;
  text-align: center;
  letter-spacing: 0.5px;
}

.stockInput label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 150px;
  background-color: #0d0d0d;
  border: 1px solid #212121;
  border-radius: 100px;
  padding: 20px 30px 20px 20px;
}

.stockInput label:hover {
  border: 1px solid #006fff;
}

.stockInput label input {
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 4rem;
}

.stockInput label input::placeholder {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-size: 4rem;
}

.stockIlimitado {
  padding: 0px 25px;
  background-color: #0d0d0d;
  border: 1px solid #212121;
  height: 50px;
  border-radius: 50px;
  color: white;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.stockIlimitado:hover {
  border: 1px solid #006fff;
}

.stockIlimitado .icon {
  font-size: 1.3rem;
}

.stockIlimitado.active {
  background-color: #006fff;
  border: 1px solid #006fff;
}

.btnAddBeneficio {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 150% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 900px) {
  .containerForm {
    width: 100%;
    border-radius: 0px 35px 35px 35px;
    padding-top: 35px;
    padding-bottom: 20px;
  }

  .containerForm::before {
    border-radius: 0px 35px 0px 0px;
  }

  .flexBox {
    width: 95%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
  }

  .formContainerGeneral {
    width: 50%;
    height: 72vh;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    gap: 20px;
  }

  .formContainerGeneral::-webkit-scrollbar {
    background-color: rgba(0, 0, 255, 0.136);
    width: 4px;
  }

  .formContainerGeneral::-webkit-scrollbar-thumb {
    background-color: rgba(0, 72, 255, 0.358);
    border-radius: 50px;
  }

  .formContainerGeneral::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .flextitleGeneral {
    align-items: flex-start;
    gap: 15px;
    text-align: start;
  }

  .generalInfoAd {
    width: 95%;
  }

  .titleContainer {
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 1.3;
  }

  .subtitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .subtitleContainer p {
    font-size: 0.9rem;
  }

  .subtitleContainer .icon {
    font-size: 0.8rem;
  }

  .btnAddBeneficio {
    width: 95%;
    height: 45px;
    gap: 20px;
    font-size: 0.9rem;
    margin-top: 0px;
  }
}
