.detalleBeneficioContainer {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 30px;
}

.titleSection {
  height: 55px;
  padding: 0px 0px 0px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.titleSection::after {
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(35deg, #0080ff, #0024d6, #9a00c4, #9d0054);
  background-size: 250% 100%; /* Hacemos que el gradiente sea más ancho para permitir el desplazamiento */
  animation: moveGradient 4s ease-in-out infinite;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 50px;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.titleSection h4 {
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.boxSectionIcon {
  height: 45px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxSectionIcon .icon {
  font-size: 1.3rem;
  color: white;
}

.flexInfo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.infoAll {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.infoAll h3 {
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 700;
}
.infoAll h4 {
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.2;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 200;
}

.moreDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.infoDatoCard{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}


.infoDatoCard p {
  color: grey;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  line-height: 1;
}

.infoDatoCard p:last-child {
  color: white;
  font-size: 0.9rem;
}

.boxImage {
  width: 40%;
  height: 200px;
  background-color: rgb(34, 34, 34);
  position: relative;
}

.boxImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
