.detalleBeneficioContainer{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 30px;
}

.titleSection{
    border-bottom: 1px solid #4b4b4b;
    height: 55px;
    padding: 0px 0px 0px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleSection h4{
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.boxSectionIcon{
    height: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxSectionIcon .icon{
    font-size: 1.3rem;
    color: white;
}

.flexInfo{
    width: 90%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.infoAll{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    justify-content: center;
}

.infoAll h5{
    font-size: 1.2rem;
}

.boxImage{
    width: 40%;
    height: 100%;
    background-color: grey;
    border-radius: 20px;
}

.moreDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.moreDetails p{
    color: grey;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

