.header{
    width: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}


.sectionbtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btnmenu{
    height: 30px;
    background-color: black;
    padding: 0px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnSearch{
    height: 40px;
    background-color: black;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}