.containerAccesSociosNet{
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.containerTitle{
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.containerTitle h2{
    font-size: 6.7vw;
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 1px;
}

.boxBanner{
    width: 85%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid red;
}

.boxBanner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
